# Byte-compiled / cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Ignore runs directory and all its contents
runs/

# Ignore log files from SLURM jobs
logs/
*.out
*.err

# Virtual environment
venv/
env/